
body {
  text-align: center;
  margin: 50px 0;
  background-size: 100%;
  background-image:url(https://d13yacurqjgara.cloudfront.net/users/85305/screenshots/1675068/attachments/264631/polka-dots.png);
  background-position: bottom;

 
}

#list{
	list-style: none;
}

h1{
	font-family: 'Permanent Marker', cursive;
	font-size: 400%;
}


ul li.checked::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 5px;
    left: 5px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 4px 4px 4px 4px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  

/*- style the list (remove the dot) - text text-decoration: 
- prevent empty item from being added 
- Add conditional statement: if empty; return, don't do action;
- Error message*/
/*- how to cross off list, how to remove things from list*/
/*- wireframe, what kind of behavior*/